* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    padding: 0 auto;
}

.row {
    margin: 0;
    padding: 0;
}

.tamanho-fonte-nome {
    font-size: 70px;
}

.tamanho-fonte-nome-mobile {
    font-size: 40px;
}

.tamanho-fonte-cargo {
    font-size: 50px;
}

.tamanho-fonte-cargo-bobile {
    font-size: 30px;
}

.bg-title {
    background-image: linear-gradient(to right, rgb(44, 44, 44), transparent)
}

.borda {
    border: 1px solid red;
}

/*INÍCIO ZOOM DAS IMAGENS */
.zoom {
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02); 
}
/*FIM ZOOM DAS IMAGENS */

/* INÍCIO CABEÇALHO */
.head {
    color: white;
    min-height: 50vh;
    background-image: url(../img/meu-setup4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.links {
    padding-top: 300px;
    text-align: center;
}

.link {
    border-right: 1px solid white;
    color: white;
    text-decoration: none;
    padding-right: 10px;
    font-size: 25px;
}

.link:hover {
    color: grey;
    transition: all 0.2s;
}

.link-celular {
    /* border: 1px solid red; */
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    text-decoration: none;
    padding-right: 10px;
    font-size: 25px;
    margin-left: 0;
    margin-bottom: 10px;
}

.link-celular:hover {
    color: grey;
    transition: all 0.2s;
}

.head-celular {
    display: flex;
    flex-direction: column;
}
/* FIM CABEÇALHO */

/* INÍCIO APRESENTAÇÃO */
.foto {
    border-radius: 10px;
    width: 100%;
}

.p1 {
    text-align: end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p2 {
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FIM APRESENTAÇÃO */

/* INÍCIO TRAGETÓRIA PROFISSIONAL */
.traget-profissional {
    background-color: rgb(36, 36, 36);
    background-image: linear-gradient(to top, black, transparent, black), url(../img/wallpaper-dark.jpg);
    background-size: cover;
}

.experiencias {
    width: 80%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FIM TRAGETÓRIA PROFISSIONAL */

/* INÍCIO INFORMAÇÕES */
.infos {
    color: white;
    background-color: black;
}
/* FIM INFORMAÇÕES */

/* INÍCIO GALERIA */
.galeria {
    color: white;
    background-color: black;
    text-align: center;
}

.galeria-foto {
    width: 95%;
    border-radius: 10px;
}
/* FIM GALERIA */

/* INÍCIO RODAPÉ */
.rodape-box {
    min-height: 20vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-rodape {
    text-decoration: none;
    color: white;
}

.zoom-rodape {
    transition: transform .2s;
}

.zoom-rodape:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
}
/* FIM RODAPÉ */