* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    padding: 0 auto;
}

.row {
    margin: 0;
    padding: 0;
}

/* INÍCIO CABEÇALHO */
.head {
    color: white;
    min-height: 50vh;
    background-image: url(../img/meu-setup4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.links {
    padding-top: 300px;
    text-align: center;
}

.link {
    /* border: 1px solid red; */
    border-right: 1px solid white;
    color: white;
    text-decoration: none;
    padding-right: 10px;
    font-size: 25px;
}
/* FIM CABEÇALHO */

/* INÍCIO APRESENTAÇÃO */
.foto {
    /* border: 1px solid red; */
    border-radius: 20px;
    width: 100%;
}

.p1 {
    /* border: 1px solid red; */
    text-align: end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p2 {
    /* border: 1px solid red; */
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FIM APRESENTAÇÃO */

/* INÍCIO TRAGETÓRIA PROFISSIONAL */
.traget-profissional {
    /* border: 1px solid red; */
    background-color: rgb(36, 36, 36);
    background-image: linear-gradient(to top, black, transparent, black), url(../img/wallpaper-dark.jpg);
    background-size: cover;
}

.experiencias {
    /* border: 1px solid red; */
    width: 80%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FIM TRAGETÓRIA PROFISSIONAL */

/* INÍCIO CARACTERÍSTICAS & INFORMAÇÕES PESSOAIS */
.infos {
    color: white;
    background-color: black;
}
/* FIM CARACTERÍSTICAS & INFORMAÇÕES PESSOAIS */

/* INÍCIO RODAPÉ */
.rodape-box {
    min-height: 20vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-rodape {
    /* border: 1px solid red; */
    text-decoration: none;
    color: white;
}
/* FIM RODAPÉ */