.head {
    color: white;
    min-height: 50vh;
    background-image: url(../img/meu-setup4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.links {
    padding-top: 300px;
    text-align: center;
}

.link {
    border-right: 1px solid #ffc107;
    color: #ffc107;
    text-decoration: none;
    padding-right: 10px;
    font-size: 25px;
}

.link:hover {
    color: grey;
    transition: all 0.5s;
}

.link-celular {
    border-right: 1px solid #ffc107;
    border-bottom: 1px solid #ffc107;
    color: #ffc107;
    text-decoration: none;
    padding-right: 10px;
    font-size: 25px;
    margin-left: 0;
    margin-bottom: 10px;
}

.head-celular {
    display: flex;
    flex-direction: column;
}