* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    padding: 0 auto;
}

.row {
    margin: 0;
    padding: 0;
}

.tamanho-fonte-nome {
    font-size: 70px;
}

.tamanho-fonte-nome-mobile {
    font-size: 40px;
}

.sombra {
    text-shadow: 3px 3px rgb(27, 27, 27);
}

.tamanho-fonte-cargo {
    font-size: 50px;
}

.tamanho-fonte-cargo-bobile {
    font-size: 30px;
}

.bg-title {
    background-image: linear-gradient(to right, rgb(44, 44, 44), transparent)
}

.borda {
    border: 1px solid red;
}

/*INÍCIO ZOOM DAS IMAGENS */
.zoom {
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02); 
}
/*FIM ZOOM DAS IMAGENS */



/* INÍCIO APRESENTAÇÃO */
.foto {
    border-radius: 10px;
    width: 100%;
}

.p1 {
    text-align: end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p2 {
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FIM APRESENTAÇÃO */

/* INÍCIO TRAGETÓRIA PROFISSIONAL */
.traget-profissional {
    background-color: rgb(36, 36, 36);
    background-image: linear-gradient(to top, black, transparent, black), url(../img/wallpaper-dark.jpg);
    background-size: cover;
}

.experiencias {
    width: 80%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FIM TRAGETÓRIA PROFISSIONAL */

/* INÍCIO INFORMAÇÕES */
.infos {
    color: white;
    background-color: black;
}
/* FIM INFORMAÇÕES */

/* INÍCIO GALERIA */
.galeria {
    color: white;
    background-color: black;
    text-align: center;
}

.galeria-foto {
    width: 95%;
    border-radius: 10px;
}
/* FIM GALERIA */



/* PÁGINA DE CURRÍCULO */
@media(min-width: 767px){
    .main-curriculo {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 20px;
    }
}
/* FIM PÁGINA DE CURRÍCULO */

.aviso {
    color: #ffc107;
    font-size: 50px;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}